<html>
<head>
<title> Docente: {{docente.nombre}} {{docente.apellido}}</title>
{% load staticfiles %}
<script src="{% static 'aaev/material.min.js' %}"></script>
<script src=" {% static 'aaev/jquery.js' %}"></script>
<script src=" {% static 'aaev/DjangoAjax.js' %}"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.red-blue.min.css" />


</head>
<style>
.demo-card-wide.mdl-card {
  width: 630px;
}

.demo-card-wide > .mdl-card__title {

  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #6666cc;
}

.demo-card-wide > .mdl-card__supporting-text {

  align-items: center;
  justify-content: center;

}

</style>
<body>
	{% if docente %}
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row  mdl-shadow--8dp">
				<span class="mdl-layout-title"> AAEV 2.0 / Docente {{docente.nombre}} {{docente.apellido}}</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">Cerrar sesion</a>
				</nav>
			</div>
		</header>
		<main class="mdl-layout__content" id="cuerpo">
			<div class="page-content content-grid mdl-grid">
				<div style="margin-top: 6%;">
					<div class="demo-card-wide mdl-card mdl-shadow--8dp">
							<div  class="mdl-card__title mdl-card--expand"> 
								<h5 class="mdl-card__title-text"> Mis materias </h5>
							</div>
							<div class="mdl-card__supporting-text">
								<div>
									<p> Aca podes ver tus materias, examenes y demas.
								</div>
								<div>
									{% if materias %}
									<table class="mdl-data-table mdl-js-data-table">
										<thead>
											<tr>
												<th class="mdl-data-table-cel--non-numeric"> Materia </th>
												<th> Unidades </th>
												<th> Preguntas </th>
												<th> Examenes </th>
												<th> Alumnos pendientes </th>
												<th> Alumnos aceptados </th>
											</tr>
										<thead>
										<tbody>
											{% for materia in materias%}
											<tr>
												<td class="mdl-data-table-cel--non-numeric">{{materia.nombre}}</td>
												<td>	</td>
												<td>	</td>
												<td>	</td>
												<td>	</td>
												<td> 	</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									{% else %}
										<p> No tenes materias en este momento </p>
									{% endif %}
								
								</div>
							</div>
					</div>
				</div>
				
			</div>
		</main>
	</div>
	{% endif %}
</body>
</html>